<a href="https://colab.research.google.com/github/Mend57/Anime-Randomizer/blob/main/MAL_Randomizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

uri = "https://raw.githubusercontent.com/teste7/aaa/main/animelist_1602947944_-_7416751.csv"
animes = pd.read_csv(uri)
animes.head()

,series_animedb_id,series_title,series_type,series_episodes,my_id,my_watched_episodes,my_start_date,my_finish_date,my_rated,my_score,...,my_comments,my_times_watched,my_rewatch_value,my_priority,my_tags,my_rewatching,my_rewatching_ep,my_discuss,my_sns,update_on_import
0,6408,"""Bungaku Shoujo"" Movie",Movie,1,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0
1,41380,100-man no Inochi no Ue ni Ore wa Tatteiru,TV,12,0,0,0000-00-00,0000-00-00,NaN,6,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0
2,40679,2.43: Seiin Koukou Danshi Volley-bu,TV,0,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0
3,40148,22/7,TV,12,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0
4,31646,3-gatsu no Lion,TV,22,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0

In [3]:
animes.query('my_status == "Plan to Watch"', inplace = True)
animes.sample()

,series_animedb_id,series_title,series_type,series_episodes,my_id,my_watched_episodes,my_start_date,my_finish_date,my_rated,my_score,...,my_comments,my_times_watched,my_rewatch_value,my_priority,my_tags,my_rewatching,my_rewatching_ep,my_discuss,my_sns,update_on_import
93,2167,Clannad,TV,23,0,0,0000-00-00,0000-00-00,NaN,0,...,NaN,0,NaN,LOW,NaN,0,0,1,default,0